<!DOCTYPE html>
<html>
	
	<head>
		<meta charset="utf-8">
		<title>关于</title>
		<script src="./plugins/jQuery/jquery-2.2.3.min.js"></script>
		<link href="./css/bootstrap.min.css" rel="stylesheet">
		
		<script src="./js/bootstrap.min.js"></script>
		<script src="./plugins/angularjs/angular.min.js"></script>
		<script src="./js/base.js"></script>
		<script src="./js/controller/baseController.js"></script>
		<script src="./js/controller/indexController.js"></script>
		<script src="./js/service/commentService.js"></script>
		
		<script type="text/javascript" src="./js/plugins/value.js"></script>
		<script type="text/javascript" src="./js/plugins/fadeinandout.js"></script>
		
	</head>
	<body ng-app="qia" ng-controller="indexController" ng-init="setUsername('about')">
		<div class="container">
				<div class="row clearfix">
				<div class="col-md-12 column">
				
					<div ng-include="'navlogedin.html'"></div>
					
					<div class="jumbotron">
						<h1>
							Hello, I have a question!
						</h1>
						<p>
							这是一个在线问答平台
						</p>
						<p>
							 <a class="btn btn-primary btn-large" href="about.html">Learn more</a>
						</p>
					</div>
				</div>
			</div>
			
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="page-header">
				<h1>
					关于 <small>Qia</small>
				</h1>
			</div>
			<dl>
				<dt>
					技术选型
				</dt>
				<dd>
					SpringBoot+Bootstrap+Angular
				</dd>
				<br>
				<dt>
					Github
				</dt>
				<dd>
					<a href="https://github.com/ztxtxwd/Qia">https://github.com/ztxtxwd/Qia</a>
				</dd>
				
				
			</dl>
		</div>
		<div class="col-md-6 column">
		<hr>
		意见反馈
		<br>
			 	<textarea class="form-control" rows="5" ng-model="advice"></textarea>
			 <br />
			 <button type="button" class="btn btn-default" ng-click="advise()">反馈</button>
		</div>
	</div>
</div>
	</body>
</html>
