<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>登录</title>
		<link href="./css/bootstrap.min.css" rel="stylesheet">
		<link href="./css/csshake.min.css" rel="stylesheet">
		<script src="./plugins/jQuery/jquery-2.2.3.min.js"></script>
		<script src="./js/bootstrap.min.js"></script>
		<script src="./plugins/angularjs/angular.min.js"></script>
		
		<script src="./js/base.js"></script>
		<script src="./js/controller/baseController.js"></script>
		<script src="./js/service/loginService.js"></script>
		<script src="./js/controller/loginController.js"></script>
		<script type="text/javascript" src="./js/plugins/fadeinandout.js"></script>
	</head>
	<body ng-app="qia" ng-controller="loginController">
		<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<br>
			<div ng-mouseover="shake=true" ng-mouseleave="shake=false">
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header shake shake-little">
					 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">首页</a>
				</div>
				
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li>
							 <a ng-click="click=true" class=" shake shake-little">全部问题</a>
						</li>
						<li>
							 <a href="#" class=" shake shake-little">关于</a>
						</li>
						
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="#" class=" shake shake-little">登录</a>
							
						</li>
						<li>
							<a href="#" class=" shake shake-little">我要提问</a>
							
						</li>
					</ul>
				</div>
				
			</nav>
			</div>
			<div class="jumbotron">
				<h1>
					Hello, I have a question!
				</h1>
				<p>
					这是一个在线问答平台
				</p>
				<p>
					 <a class="btn btn-primary btn-large shake shake-little" href="#">Learn more</a>
				</p>
			</div><h3><strong>登录</strong></h3>
		<hr />
		
		</div>
		
		
		
		<div class="col-md-4 column ">
			<form class="form-horizontal" role="form" method="post" id="loginform">
				<div class="form-group">
					 
					<div class="col-sm-12">
						<input type="text" ng-model="entity.username" class="form-control" id="inputUsername" placeholder="用户名" name="username"/>
					</div>
				</div>
				<div class="form-group">
					 
					<div class="col-sm-12">
						<input type="password" ng-model="entity.password" class="form-control" id="inputPassword" placeholder="密码" password="password"/>
					</div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-12">
						 <button ng-click="login()" class="btn btn-default">登录</button>
						 
					</div>
				</div>
				<div>
					还没有账户？<a href="register.html">立即注册</a>
				</div>
			</form>
		</div>
		
		
	</div>
	
</div>
	</body>
</html>
